Adventureworks.Web/Service References/PurchasingService/PurchaseProcess2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Adventureworks.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Adventureworks.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVendor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Vendor" nillable="true" type="tns:Vendor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVendor" nillable="true" type="tns:ArrayOfVendor" />
  <xs:complexType name="Vendor">
    <xs:sequence>
      <xs:element name="_x003C_Id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Reliablity_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Vendor" nillable="true" type="tns:Vendor" />
  <xs:complexType name="VendorProposal">
    <xs:sequence>
      <xs:element name="_x003C_Date_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_Value_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_VendorId_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VendorProposal" nillable="true" type="tns:VendorProposal" />
</xs:schema>