Adventureworks.Web/Service References/PurchasingService/PurchaseProcess1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44194/PurchaseProcess.xamlx?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Adventureworks.Domain" />
  <xs:complexType name="ArrayOfKeyValueOfintVendorProposalmXS21Xmf">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfintVendorProposalmXS21Xmf">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="xs:int" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Adventureworks.Domain" name="Value" nillable="true" type="q1:VendorProposal" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfintVendorProposalmXS21Xmf" nillable="true" type="tns:ArrayOfKeyValueOfintVendorProposalmXS21Xmf" />
</xs:schema>